In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
# nan = not a number 非數

In [4]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
dates = pd.date_range("20130101", periods=6)

In [6]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

In [8]:
df

                   A         B         C         D
2013-01-01 -0.273990  1.852844  0.367448 -0.950796
2013-01-02 -0.585030 -0.514280  2.298406  1.547343
2013-01-03  0.049354  1.018176  1.633173  1.588029
2013-01-04 -0.195969 -0.125928 -0.258800 -0.682534
2013-01-05  0.715158 -0.216489 -0.057286  0.314784
2013-01-06 -0.024411 -0.038271 -0.282357  1.998852

In [14]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [15]:
print(thisdict.keys())
print(thisdict.values())

dict_keys(['brand', 'model', 'year'])
dict_values(['Ford', 'Mustang', 1964])

In [16]:
thisdict["brand"]

'Ford'

In [17]:
print(list(thisdict.keys()))
print(list(thisdict.keys())[0])
print(thisdict[list(thisdict.keys())[0]])

['brand', 'model', 'year']
brand
Ford

In [18]:
for value in thisdict.values():
    if value=="Mustang":
        print(list(thisdict.values()).index(value))
        number=list(thisdict.values()).index(value)
        print(list(thisdict.keys())[number])

1
model

In [19]:
# creating a mew dictionary
my_dict={"java":100,"python":112,"c":11}

# list out keys and values separately
key_list=list(my_dict.keys())
val_list=list(my_dict.values())

# print keys with val 100
position=val_list.index(100)
print(key_list[position])

# print keys with val 112
position=val_list.index(112)
print(key_list[position])

java
python